<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <title>Appointment Reminder</title> -->
        <style>
            body {
                margin: 0;
                padding: 20px;
                font-family: Arial, sans-serif;
                background-color: #f9f9f9;
                text-align: center;
            }
            .container {
                max-width: 600px;
                margin: 0 auto;
                background: #ffffff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            img {
                max-width: 250px;
                margin-bottom: 10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            h1 {
                color: #333;
                margin-bottom: 20px;
                text-align: center;
            }
            p {
                color: #666;
                line-height: 1.6;
                text-align: left;
            }
            .appointment-details {
                margin-top: 20px;
                padding: 10px;
                background-color: #f1f1f1;
                border-radius: 5px;
                text-align: left;
            }
            .appointment-details span {
                font-weight: bold;
            }
            .footer {
                margin-top: 20px;
                color: #999;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img
                src="https://res.cloudinary.com/doityourself/image/upload/v1732509707/MeDi-Booker_igd5wf.png"
                alt="MediBooker Logo" />
            <h1>Nhắc Lịch Hẹn Khám</h1>
            <p>Kính chào Bác sĩ,</p>
            <p>
                Bạn vừa nhận được một lịch khám mới qua hệ thống MediBooker. Đây là cơ hội để hỗ trợ
                bệnh nhân và nâng cao chất lượng dịch vụ chăm sóc sức khỏe. Dưới đây là thông tin
                chi tiết về lịch khám:
            </p>
            <div class="appointment-details">
                <p><span>Họ tên bệnh nhân:</span> <%= user %></p>
                <p><span>Ngày hẹn khám:</span> <%= appointment_Date %></p>
                <p>
                    <span>Khung giờ khám:</span> <%= appointment_time_start %> - <%=
                    appointment_time_end %>
                </p>
                <p><span>Tình trạng sức khoẻ: </span> <%= health_status %></p>
                <p><span>Bệnh nền: </span> <%= underlying_condition %></p>
                <p><span>Liên hệ: </span> <%= phone %></p>
            </div>
            <p>Hướng dẫn tiếp theo dành cho Bác sĩ:</p>
            <ul>
                <li>
                    Vui lòng kiểm tra lịch khám này trong hệ thống MediBooker để xác nhận và đảm bảo
                    sẵn sàng tiếp nhận bệnh nhân.
                </li>
                <li>
                    Nếu có bất kỳ thay đổi hoặc cần liên hệ với bệnh nhân trước, hãy sử dụng thông
                    tin liên hệ trên.
                </li>
                <li>
                    Chuẩn bị các tài liệu, thiết bị cần thiết hoặc các câu hỏi liên quan để đảm bảo
                    buổi khám diễn ra hiệu quả.
                </li>
            </ul>
            <p>
                Cảm ơn Bác sĩ đã đồng hành cùng MediBooker trong hành trình nâng cao sức khỏe cộng
                đồng. Nếu cần hỗ trợ thêm, vui lòng liên hệ đội ngũ hỗ trợ của chúng tôi qua hotline
                hoặc email.
            </p>

            <p class="footer">
                Trân trọng! <br />
                MediBooker Team
            </p>
        </div>
    </body>
</html>
